*{
    
}


.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}


.row_1:after {
    content: "";
    display: table;
    clear: both;
}
.class_h1 {
	color: #0099cc;
}