html,body {
	font-family: "open sans" ,"Helvetica Neve", "Helvetica" ,sans-serif;
	background-color:#f3f3f4;
	color: #676a6c;
	height: 100%;
}

.cont_main {
	width: 80%;
	float: right;
	;
}

.display-table
{
	display: table;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.display-table-row
{
	display: table-row;
    height: 100%;
	width: 100%;   
}
.display-table-cell
{	overflow: hidden;
	display: table-cell;
	float: none;
	height: 100%;
}

.valign-top{
vertical-align: top;
}

.img-circle {
  border-radius: 100%; }

#side-menu{
	background-color: #2f4050;
	width: 20%;
    position: fixed;
    z-index: 1;
    float: left;
    /*background: #eee;*/
    overflow-x: hidden;
    padding: 10px 0;

}


#side-menu h1 {
	color: #CCEEFF;
	text-align:center;
	/*margin: 10px 0px;*/
	font-size: 25px;
}

#nav-header
{
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header #header-search-field 
{	padding: 17px;
	vertical-align: center;
	border:none;
	width: 300px;
	outline: none;
	
}

#nav-header ul
{	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #676a6c;
}

#nav-header ul li 
{	float: left;
	margin-left: 15px;
	padding: 17px 0px;

}

#nav-header ul .glyphicon
{
	color: #676a6c;
}

.label-message 
{	float: none;
	background-color:#1ab394; 
}


#nav-header ul a
{
	text-decoration: none;
}

#nav-header .logout
{
	color: #676a6c;
}


#nav-header .logout:hover
{

	color: #676a6c;
}

#welcome
{
	margin-right: 20px;
}


#nav-header ul .label
{
	float: none;
	position: absolute;
	margin-top: -10px;
	margin-left: -5px;	
}

#nav-header .fixed-width{
	width: 35px;
}

#admin-footer
{
position: absolute;
width: 100%;
bottom: 0px;
background-color: white;
padding: 10px;
font-size: 12px;
color: #676a6c;
 
}

#side-menu-list ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-family: Helvetica;
		
}
#side-menu-list  a
 {
	padding: 12px 15px 7px;
	text-decoration: none;
	color: #CCEEFF;
	font-weight: bold;
	font-size: 14px;
	display: block;

}

#side-menu-list .glyphicon
{
	margin-right: 2px;
}

#side-menu-list a:hover
{
	background-color: #293846;
	color: #fff;
	display: block;
}

#side-menu-list .collapseable li
{
	padding-left: 24px;
	padding-top: 5px;

}


#side-menu-list .collapseable a
{
	color: #293846;
	font-size: 13px;
	padding: 0px 10px;
	text-decoration: none;
	display: block; 
}


#side-menu-list .collapseable a:hover
{
	color: #fff;
	font-size: 13px;
	padding: 0px 10px;
	text-decoration: none;
	display: block; 
}

#side-menu-list .collapseable
{
	border-left: 4px solid #1ab394;
	background-color: #9fb1c2;
}

#side-menu-list #app-settings 
{
	background-color: #1ab394;
	
}
#side-menu-list #app-settings a:hover 
{
	background-color: #1ab394;
}	
.navbar-default
{
	background-color: #fff;
}

.navbar-default .navbar-toggle
{
	border-color: #1ab394;
	background-color: #1ab394;

}
.navbar-default .icon-bar
{
	border : 1px white solid;
}
.navbar-default .navbar-toggle:hover{
	background-color: #1ab394;
}
.navbar-default .navbar-toggle:focus
{
	background-color: #1ab394;
}

#content
{
	
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border-top: 4px #e7eaec solid;
}

#content header
{
	border-bottom: 1px #f3f3f4 solid;
	padding: 10px 0px;

}
.page_title
{
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0px 0px 20px;
	margin: 0px;
}
#content-inner 
{
	padding: 20px;
	margin-left: 20px
}
.inner-content 
{	
	margin-left: 25px;
	overflow: hidden;

}
.inner-content table
{
	margin-left: 25px;
	padding-left: 20px
	width: 50%;
	text-decoration: none;	

}
.inner-content table:hover
{

	text-decoration: none;	

}



#content .jumbotron h2
{
	margin-left: 20px; 

} 
#side-menu-list{
	padding-top: 40px; 
}