.header{
      background-image: url("../assets/Landing-page.png");

        /* Set a specific height */
        min-height: 800px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo-name .lap{
      font-size: 40px;
      font-weight: 100;
      color: #148779;
    }
    .logo-name .four{
      font-size: 40px;
      font-weight: bold;
      color: #148779;
    }
    .logo-name .geeks{
      font-size: 40px;
      font-weight: 700;
      color: #148779;
    }
    .card{
        border:1px solid rgb(214, 222, 228);
        border-radius: 5px;
        background-color:white;
        padding: 10px;
    }
    .card-pic{
        width: 200px;
        clear: both;
        
    }
    .product-title{
        padding: 20px 20px 5px 20px;
        font-size:17px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .badge{
        position: relative;
        font-size: 10px;
        font-weight: 300;
        color:#fff;
        background: #11e95b;
        padding: 2px 5 px;
        border-radius: 4px;
        margin-left: 5px;
    }

    .product-caption{
        display: block;
        padding: 0 20px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .product-rating{
        padding: 0 20px;
        font-size: 12px;

    }
    .product-rating i.grey{
        color:#acacab;
    }

    .product-info p{
        font-size:14px;
        text-align: left;
        padding: 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 55px;
    }
    .product-price{
        position: absolute;
        background: #11e95b;
        padding: 5px 15px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
        border-radius: 7px;
        margin-left: -25px;
    }

    .card-actions{
        text-align: center;
        clear: both;
    }
    .cardBtn{

        margin-top: 50px;
        color: white;
    }
     .footer{
         background-color: #303030;
    }
    .information{
        padding: 50px 0;
    }
    .information ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .information ul li a{
        color: beige;
        text-anchor: none;
        display: block;
    }

     html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
        }
        .full-height {
            height: 100vh;
        }
        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .position-ref {
            position: relative;
        }
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        .content {
            text-align: center;
        }
        .title {
            font-size: 84px;
        }
        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        .m-b-md {
            margin-bottom: 30px;
        }