html,body
{
	font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/image(1).jpg');
    background-size: 100%;
	color: #eee;
}	

.content
{

	margin-top: 17%;
	margin-left: 35%;	
}
 img
{
	margin-left: 520px;
	margin-top: -75px;
	margin-bottom: -50px;
	width: 170px;
	height: 110px;
}

.content h2
{
	margin-left: 5%;
	color: #eee;
}

.form-control
{
	width: 39%;
}
.btn
{
	margin-left: 129px;

}